@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../node_modules/bootstrap/scss/utilities';

.home_body {
    background: #fff !important;
}

.np_input {
    // width: 100%;
    // height: 100%;
    // border-radius: 8px;
}

.primary-btn {
    background: green;
    color: #fff;

    &:disabled {
        opacity: 0.3;
    }
}

.home_screen {
    &.content {
        padding: 4rem 0;
        min-height: 100vh;

        .upload_img_btn {
            // float: right;
            background: #999;
            color: #fff;
            border: none
        }
    }
}